:root{
    --background: #9257BE;
    --logo: #FFFFFF;



    --placeholder: #DBDBDB;
    --input-border: #D5D5D5;
    --button: #FFFFFF;
    --background-button: #52B5FB;
    --link: #52B5FB;
    --header: #1D6BA5;
    --logo-header: #FFFFFF;
    --background-screen: #F2F2F2;
    --h2: #1D6BA5;
    --add-icon: #FFFFFF;
    --background-icon: #52B5FB;
    --text: #666666;
    --footer: #FFFFFF;
    --footer-main: #52B5FB;
    --background-habit: #FFFFFF;
    --addHabit-day: #DBDBDB;
    --text2: #BABABA;
    --checkbox-not-done: #EBEBEB;
    --checkbox-done: #8FC549;

}

*{
    box-sizing: border-box;
}

.root{
    font-family: 'Raleway';
}

input{
    font-family: 'Lexend Deca';
}

button{
    font-family: 'Lexend Deca';
}
