:root{
    --background: #9257BE;
    --logo: #FFFFFF;
    --button: #A328D6;
    --date: #C6C6C6;
    --no-input-p: #868686;
    --positive: #03AC00;
    --negative: #C70000;
}

*{
    box-sizing: border-box;
}

.root{
    font-family: 'Raleway';
}

input{
    font-family: 'Raleway';
}

button{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}
